@import '../variables.scss';

.herobanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: $accent;

    h1{
        color: $light;
        font-weight: 300;
        font-size: $xl2;
    }
}

@media (max-width: 1280px){
    .herobanner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 70px;
        background-color: $accent;
    
        h1{
            color: $light;
            font-weight: 300;
            font-size: $lg;
        }
    }
}