/* Media queries for ease of copying */

/* @media (max-width: 1536px){
}

@media (max-width: 1280px){
}

@media (max-width: 1024px){
}

@media (max-width: 768px){
}

@media (max-width: 648px){
}

@media (max-width: 475px){
} */


.btn{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    color: #F7F6F5;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #CCA468;
    box-shadow: 0 3px 7px rgba(51, 41, 26, 0.315);
     transition: transform 0.3s;
}

.btn:hover{
    transform: translateY(-2px);
}

/* Product Details Button */
.btn2{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    color: #F7F6F5;
    padding: 1em 10em;
    border-radius: 20px;
    background-color: #CCA468;
    box-shadow: 0 3px 7px rgba(51, 41, 26, 0.315);
     transition: transform 0.3s;
}

.btn2:hover{
    transform: translateY(-2px);
}

/* *************************** */

.container{

    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1536px){
    .container{
        max-width: 1280px;
    }
}

@media (max-width: 1280px){
    .container{
        max-width: 1024px;
    }
}

@media (max-width: 1024px){
    .container{
        max-width: 768px;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 648px;
    }
}

@media (max-width: 648px){
    .container{
        max-width: 475px;
    }
}

@media (max-width: 475px){
    .container{
        max-width: 100%;
    }
}